:root {
  box-sizing: border-box;
  color-scheme: dark;
  font-size: 16px;
  --primary-background: rgb(36, 41, 46);
  --secondary-background: rgb(47, 54, 61);
  --tertiary-background: rgb(56, 63, 71);
  --quateary-background: rgb(65, 74, 83);
  --accent-primary: rgb(255, 69, 0);
  --border-color: rgba(90, 93, 100, 0.781);
  --primary-text: rgba(255, 255, 255, 0.8);
  --secondary-text: rgba(255, 255, 255, 0.664);
  word-wrap: break-word;
  overflow-x: hidden;
}

ol,
ul {
  padding-left: 1.5rem;
}

blockquote {
  margin: 1rem 0rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
  color: white;
}

.quicksand-reg {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  color: rgba(255, 255, 255, 0.411);
}

.container {
  max-width: 75rem;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5rem 2rem;
  margin-bottom: 1.9rem;
}

.pointer {
  cursor: pointer;
}

/* Header Styles */

.hamburger-menu {
  display: none;
}

header {
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  background-color: var(--secondary-background);
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  align-items: center;
  height: 4rem;
  z-index: 1000;
  filter: drop-shadow(0px 0.3125rem 0.9rem rgba(0, 0, 0, 0.322));
}

.header-selected {
  color: var(--accent-primary);
}

.header-nav-div {
  border-right: 2px solid var(--border-color);
  height: 2rem;
  margin: auto 0;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  gap: 3rem;
  padding-right: 1.5rem;
  margin: 0;
  list-style: none;
  font-size: 1.25rem;
  margin-right: 2rem;
}

.header-nav li {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  transition: 0.15s;
}

.header-nav li:hover {
  cursor: pointer;
  color: var(--accent-primary);
  transform: scale(1.02);
}

#logo {
  margin-left: 0.75rem;
}

.logo {
  width: 7.8rem;
}

#search {
  display: flex;
  align-items: center;
}

#search label {
  cursor: pointer;
}

#searchText {
  background-color: var(--tertiary-background);
  /* color: white; */
  border: none;
  padding: 0.8rem;
  padding-left: 3.1rem;
  width: 18rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

#searchText:focus {
  outline: 2px solid var(--border-color);
}

.search-submit {
  background-color: var(--accent-primary);
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
}

.search-label {
  position: relative;
}

.search-container {
  display: flex;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2.5rem;
}

#pfp {
  padding: 0rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 0.25rem;
}

.pfp-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* Content Styles */

.video-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  border: 1px solid var(--border-color);
  max-height: 37.5rem !important;
}

.video-wrapper video {
  max-height: 37.5rem !important;
}

.video {
  max-width: 40rem;
  max-height: 50rem;
}

image,
.image {
  max-width: 40rem;
  max-height: 37.5rem;
}

/* Post Styles */

.pin-icon {
  color: rgb(80, 228, 75);
}

.load-posts-button {
  background-color: var(--tertiary-background);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50vh;
  color: white;
  cursor: pointer;
  align-self: center;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color);
  margin: 0 auto;
}

.subreddit-header {
  display: flex;
  flex-direction: column;
  margin-top: 1.75rem;
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
}

.subreddit-header-banner {
  background-color: rgba(80, 92, 102, 0.74);
  border: 1px solid var(--border-color);
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

.subreddit-banner-wrapper {
  width: 100%;
  object-fit: cover;
}

.subreddit-title {
  position: absolute;
  top: 9.5rem;
  left: 12rem;
  font-size: 2.5rem;
}

.subreddit-profile-pic {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  padding: 0.25rem;
  border: 4px solid var(--border-color);
  position: absolute;
  top: 5rem;
  left: 3rem;
  background-color: var(--secondary-background);
  object-fit: cover;
}

.post-list {
  max-width: 50rem;
  width: 100%;
  /* margin-left: 6rem; */
}

.post-list-list {
  padding-left: 0rem;
  list-style: none;
}

.post-wrapper {
  width: 50rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  filter: drop-shadow(0px 0.3125rem 0.9rem rgba(0, 0, 0, 0.226));
}

.post-head {
  align-self: baseline;
  padding-right: 1rem;
  width: 100%;
}

.head-left {
  display: flex;
  /* align-items: center; */
  gap: 0.25rem;
}

.head-right {
  display: flex;
  gap: 0.5rem;
  /* align-items: center; */
}

.head-right h5 {
  font-size: 0.95rem;
}

.head-left h4 {
  margin: 0rem;
  margin-bottom: 0.25rem;
}

.post-stats {
  display: flex;
  justify-content: space-between;
}

.post-head h3 {
  margin: 0rem;
  margin-top: 0.25rem;
}

.post-head h5 {
  margin: 0rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.705);
}

.post-head-hyper {
  margin-bottom: 0.5rem;
}

.reddit-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background-color: var(--quateary-background);
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.image-wrapper {
  background-color: var(--quateary-background);
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.post-container {
  border: solid 1px var(--border-color);
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-background);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  justify-content: center;
  padding: 1.5rem;
  gap: 1.5rem;
  word-break: break-word;
}

.post-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
}

.post-text {
  align-self: baseline;
}

.post-text p {
  color: var(--primary-text);
}

.post-text strong {
  color: white;
}

.post-text p:first-child {
  margin-top: 0rem;
}

.post-text p:last-child {
  margin-bottom: 0rem;
}

.link-flair {
  margin-top: 1rem;
  padding: 0rem 1rem;
  display: inline-block;
  border-radius: 50vh;
}

.richtext-wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.link-flair p {
  margin: 0rem;
  margin: 0.25rem 0rem;
  font-weight: 600;
  font-size: 0.75rem;
}

.link-flair-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.carousel-status {
  background-color: rgb(70, 70, 70);
  border-radius: 50vh;
  padding: 8px !important;
  margin-right: 10px;
}

.gallery-image-wrapper {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--quateary-background);
  border-radius: 0.5rem;
}

.control-next {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.control-prev {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.gallery-image {
  max-height: 37.5rem;
  object-fit: contain;
  max-width: 40rem;
}

.post-hyperlink {
  display: flex;
  flex-direction: column;
}

.post-hyperlink h5 {
  margin: 0rem;
  margin-bottom: 0.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.705);
}

.post-hyperlink-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.post-hyperlink-content h3 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.link-icon {
  position: relative;
  top: 2px;
  left: 3px;
}

.thumbnail {
  width: 7.9375rem;
  height: 6.0625rem;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  border: 1px solid var(--border-color);
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-stickied-content {
  display: flex;
  justify-self: center;
}

.post-spoiler-content {
  display: flex;
  justify-self: center;
}

.post-spoiler-icon {
  background-color: var(--quateary-background);
  padding: 0.3rem 1rem;
  border-radius: 50vh;
  border: solid 1px var(--border-color);
}

.post-stickied-icon {
  text-wrap: nowrap;
  background-color: var(--quateary-background);
  padding: 0.3rem 1rem;
  border-radius: 50vh;
  border: solid 1px var(--border-color);
}

.post-spoiler-icon p,
.post-stickied-icon p {
  font-size: 0.7rem;
  margin: 0rem;
}

.post-footer {
  background-color: var(--tertiary-background);
  display: flex;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-top: none;
  align-items: center;
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post-footer-skeleton {
  background-color: var(--tertiary-background);
  display: flex;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid var(--border-color);
  border-top: none;
  align-items: center;
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.post-footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
}

.post-footer-stats {
  display: flex;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--quateary-background);
  padding: 0.25rem 0.5rem;
  border-radius: 50vh;
  margin-right: 1rem;
  text-wrap: nowrap;
}

.votes {
  text-align: center;
  margin: 0rem 0.25rem;
  padding: 0rem, 0.25rem;
}

.comments,
.votes {
  text-wrap: nowrap;
  /* width: 100%; */
}

.upvote:hover,
.downvote:hover {
  cursor: pointer;
  color: var(--accent-primary);
}

.comments {
  margin: 0rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.comment-stats {
  display: flex;
}

.comments-icon {
  margin-left: 0.25rem;
}

.voted {
  color: var(--accent-primary);
}

.vote-wrapper {
  align-items: center;
  display: flex;
}

/* Subreddit Page Styles */

.subreddit-posts-container {
  background-color: var(--secondary-background);
  flex: 5.5;
  border-radius: 0.5rem;
  padding: 0rem 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.subreddit-posts-content {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.subreddit-info {
  width: 100%;
  max-width: 28rem;
  text-wrap: wrap;
}

.subreddit-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Sidebar Styles */

.sidebar-container,
footer {
  width: 13%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  margin-top: 0.25rem;
  /* flex: 1; */
}

.subreddit-content {
  display: flex;
  align-items: center;
}

.subreddit-content p {
  margin: 0.65rem;
  margin-top: 0.45rem;
}

.subreddit-icon {
  width: 1.15rem;
  height: 1.15rem;
  min-width: 1.15rem;
  min-height: 1.15rem;
  background-color: var(--quateary-background);
  padding: 0.15rem;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.subreddit-container {
  background-color: var(--tertiary-background);
  /* width: 100%; */
  padding: 1.25rem;
  padding-top: 0rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  filter: drop-shadow(0px 0.3125rem 0.9rem rgba(0, 0, 0, 0.226));
}

.subreddit-container ul {
  padding-left: 1rem;
}

.subreddit-container ol {
  padding-left: 0.9rem;
}

.subreddit-container ol li,
.subreddit-container ul li {
  word-break: break-word;
}

.subreddit-container p,
.subreddit-container li {
  color: var(--primary-text);
}

.subreddit-container strong {
  color: white;
}

.subreddits-list {
  list-style: none;
  padding-left: 0.5rem;
}

.sidebar-header {
  letter-spacing: 1px;
}

.sidebar-bottom-div {
  opacity: 0.2;
  width: 100%;
}

.sidebar-load-button {
  background-color: var(--tertiary-background);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50vh;
  color: white;
  cursor: pointer;
  width: 5rem;
  align-self: center;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color);
}

.subreddits-list p {
  color: var(--secondary-text);
}

.sub-list-pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Footer Styles */

footer {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  /* margin-right: 2rem; */
}

.footer-container-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-container {
  position: fixed;
  width: 13vw;
  right: 1.25rem;
  bottom: 1rem;
  margin-right: 0.5rem;
  text-wrap: nowrap;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  margin: 0rem;
  color: rgba(255, 255, 255, 0.315);
}

.footer-list li {
  font-size: 0.9rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.315);
  font-size: 0.9rem;
}

.footer-legal {
  display: flex;
  gap: 1rem;
}

.footer-ad {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-background);
  border-radius: 0.5rem;
  position: relative;
  overflow: clip;
  max-width: 18.75rem;
  margin: 0 auto;
  /* padding: 2.5rem; */
  /* padding: 10%; */
  padding: 8%;
  box-sizing: border-box;
}

.footer-ad-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 100;
}

.ad-pattern {
  top: -8.5rem;
  left: 0.4rem;
  color: rgba(255, 255, 255, 0.13);
  position: absolute;
  z-index: 1;
}

.ad-button {
  border: 1px solid var(--accent-primary);
  background-color: transparent;
  color: var(--accent-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  width: 14rem;
  transition: 0.2s;
}

.ad-button:hover {
  background-color: var(--accent-primary);
  color: white;
}

/* Search Results */

.search-results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-result-li {
  width: 62.5rem;
  margin-bottom: 2rem;
}

/* Thread + Comments Styles */

.thread-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.thread-card {
  max-width: 62.5rem;
  width: 100%;
}

.thread-comments {
  width: 100%;
  max-width: 62.5rem;
}

.comment-wrapper {
  background-color: var(--tertiary-background);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.comment-head {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.comments-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comments-head button {
  width: 5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--accent-primary);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  /* height: 1rem; */
}

.comment-head h5 {
  font-size: 1rem;
  margin: 0rem;
  margin-left: 0.5rem;
}

.comment-head h6 {
  margin: 0rem;
  font-size: 0.9rem;
  color: var(--secondary-text);
  font-weight: 400;
}

.comments-root {
  list-style: none;
  padding-left: 0rem;
}

.comments-root ul {
  list-style: none;
  filter: drop-shadow(0px 0.3125rem 0.9rem rgba(0, 0, 0, 0.226));
  margin-right: 0.5rem;
}

.comments-root li {
  margin-bottom: 1rem;
  /* margin-right: 0.5rem; */
}

.comment-root {
  margin-bottom: 2rem !important;
}

.comment-content {
  margin-left: 0.5rem;
}

.comment-head-div {
  margin: 0rem 0.5rem;
}

.hidden {
  display: none;
}

.comment-body {
  display: flex;
  margin-left: 3.6rem;
  margin-right: 2rem;
}

.comment-score {
  display: flex;
  align-items: center;
}

.comment-score {
  justify-content: center;
}

.comment-footer {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 3.6rem;
}

/* Misc. Styles */

.home-button {
  background-color: var(--accent-primary);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
  font-size: 1rem;
}

.HoverCardContent {
  background-color: var(--tertiary-background);
  position: relative;
  z-index: 2000;
  padding: 1rem;
}

.HoverCardPortal {
  position: relative;
}

.HoverCardArrow {
  fill: var(--tertiary-background);
}

.HoverCardContent {
  border-radius: 0.5rem;
  /* padding: 20px; */
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  box-shadow: hsla(210, 22%, 7%, 0.589) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  margin-right: 1rem;
}
.HoverCardContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.HoverCardContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.HoverCardContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.HoverCardContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.hover-content-link {
  color: white;
  text-decoration: none;
}

.email-anchor {
  all: unset;
  color: white;
  text-decoration: none;
}

.email-icon {
  transition: 0.3s;
  cursor: pointer;
}

.email-icon:hover {
  color: var(--accent-primary);
}

/* .pfp-head-right {
  display: flex;
  flex-direction: column;
  gap: 0rem;
} */

.pfp-head-right {
  margin-left: 1rem;
}

.pfp-head-right p {
  margin: 0rem;
}

.pfp-head-right p:first-child {
  font-weight: 700;
}

.pfp-head-right p:last-child {
  color: var(--secondary-text);
}

.hover-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover-content-wrapper p {
  margin-bottom: 0rem;
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-sort {
  display: none;
  justify-content: flex-end;
}

.hamburger {
  display: flex;
  /* justify-content: center; */
  position: fixed;
  top: 4rem;
  left: 0;
  width: 10.5rem;
  height: 17rem;
  background-color: var(--tertiary-background);
  z-index: 1;
  /* padding: 1rem; */
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.hamburger-nav li:first-child {
  margin-top: 1.5rem;
}

.hamburger-nav li:last-child {
  border-bottom: none;
}

.hamburger-nav li {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  transition: 0.2s;
  /* margin-top: 1.5rem; */
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.hamburger-nav li:hover {
  cursor: pointer;
  color: var(--accent-primary);
  transform: scale(1.02);
}

.hamburger-nav li p {
  margin: 0rem;
}

.hamburger-nav {
  margin: 0rem;
}

/* .hamburger-content {
} */

.mobile-sort-button {
  background-color: var(--tertiary-background);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50vh;
  color: white;
  cursor: pointer;
  align-self: center;
  margin-top: 0.5rem;
  border: 1px solid var(--border-color);
  margin: 0rem;
  /* margin-left: 1rem; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mobile-posts-content {
  display: none;
}

.reddit-icon {
  min-width: 1.25rem;
  min-height: 1.25rem;
}

.mobile-search {
  display: none;
}

.back-btn {
  background-color: var(--accent-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.search-icon {
  position: absolute;
  left: 0.81rem;
  top: 0.526rem;
}

/* Media Queries */

@media screen and (max-width: 1900px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 1800px) {
  /* Important to resize ad button */
  .ad-button {
    width: 12rem;
  }

  .subreddit-posts-container {
    flex: 6;
  }

  .footer-list p {
    font-size: 0.8rem;
  }

  .footer-list {
    list-style: none;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 1700px) {
  .post-wrapper {
    width: 42rem;
  }

  image,
  .image {
    max-width: 35rem;
  }

  .search-result-li,
  .thread-card,
  .thread-comments {
    width: 50rem;
  }
}

@media screen and (max-width: 1600px) {
  .post-wrapper {
    width: 37rem;
  }

  image,
  .image {
    max-width: 30rem;
  }

  .sidebar-container,
  footer {
    width: 14%;
  }

  .footer-container {
    width: 14vw;
  }

  .video-wrapper,
  video,
  .video {
    max-height: 30rem !important;
    height: auto !important;
  }

  .comments-root ul {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    font-size: 14px;
  }

  .footer-container {
    width: 15vw;
  }

  .sidebar-container,
  footer {
    width: 15%;
  }
}

@media screen and (max-width: 1400px) {
  .post-wrapper {
    width: 33rem;
  }

  image,
  .image {
    max-width: 25rem;
  }

  .sidebar-container,
  footer {
    width: 16%;
  }

  .footer-container {
    width: 16vw;
  }

  .footer-list p {
    font-size: 0.75rem;
  }

  .footer-list {
    list-style: none;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 1368px) {
  footer {
    display: none;
  }

  .post-wrapper {
    width: 38rem;
  }

  .header-nav {
    gap: 1.5rem;
  }

  #searchText {
    width: auto;
  }

  .search-submit {
    padding: 0.7rem 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar-container {
    width: 17%;
  }
}

@media screen and (max-width: 1135px) {
  .post-wrapper {
    width: 30rem;
  }
}

@media screen and (max-width: 1100px) {
  .sidebar-container {
    width: 18%;
  }
}

@media screen and (max-width: 1080px) {
  .sidebar-container {
    display: none;
  }

  .post-wrapper {
    width: 35rem;
  }
  .hamburger-menu {
    display: block;
    margin-right: 1rem;
  }

  .header-nav {
    display: none;
  }

  #search {
    max-width: 90rem;
  }

  #searchText {
    width: 20rem;
  }
}

@media screen and (max-width: 875px) {
  .subreddit-title {
    font-size: 2.25rem;
    top: 10rem;
  }

  .main-content {
    word-break: break-word;
  }

  #sub-info-default {
    display: none;
  }

  .desktop-posts-content {
    display: none;
  }

  .mobile-posts-content {
    display: flex;
  }

  .mobile-sort {
    display: flex;
  }

  .subreddit-info {
    max-width: 100%;
  }

  .subreddit-profile-pic {
    left: 1.5rem;
  }

  .subreddit-title {
    left: 10rem;
  }

  .subreddit-header {
    margin-bottom: 2rem;
  }

  .post-wrapper {
    width: 100%;
  }

  .post-list-container {
    width: 100%;
  }

  .thread-card,
  .thread-comments,
  .search-result-li {
    width: 100%;
  }

  .post-list {
    max-width: 100%;
  }

  .post-list-list {
    width: 100%;
  }
}

@media screen and (max-width: 805px) {
  .subreddit-title {
    left: 1rem;
    top: 10.75rem;
    font-size: 2rem;
  }

  .subreddit-profile-pic {
    top: 3.75rem;
  }

  .subreddit-posts-container {
    padding: 0rem 1.5rem;
    padding-bottom: 1rem;
  }

  .main-content {
    margin: 5rem 0rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 750px) {
  #searchText {
    width: auto;
  }

  .comment-wrapper {
    padding: 0rem;
  }
}

@media screen and (max-width: 625px) {
  .user-container {
    display: none;
  }

  #search {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .image,
  image {
    max-width: 20rem;
  }

  .comment-body img {
    max-width: 15rem !important;
    max-height: 15rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 550px) {
  .mobile-sort {
    justify-content: flex-start;
  }

  .mobile-sort-button {
    margin-left: 0rem;
  }

  .subreddit-header {
    margin-bottom: 5.5rem;
  }

  .subreddit-title {
    left: 0rem;
  }
}

@media screen and (max-width: 500px) {
  #logo {
    display: none;
  }

  .comments-root ul {
    margin-right: 0rem;
    filter: drop-shadow(0px 0.3125rem 0.9rem rgba(0, 0, 0, 0.055));
  }

  .comments-root > li {
    border-right: 1px solid var(--border-color);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .comment-wrapper {
    border-right: none;
  }

  .comment-head {
    margin-left: 0.5rem;
  }

  .comment-body {
    margin-left: 4.2rem;
  }

  .comment-content {
    margin-left: 0.2rem;
  }
}

@media screen and (max-width: 450px) {
  .post-footer-content {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    width: 100%;
    align-items: center;
  }
  .image,
  image {
    max-height: 20rem;
  }

  .comment-body img {
    max-height: 10rem;
  }

  .comment-head h6 {
    margin-right: 0.5rem;
  }

  .comment-stats {
    flex-direction: column;
  }

  .comment-head-div {
    display: none;
  }

  .comment-head h5 {
    margin-top: 0.2rem;
  }

  .comment-head h6 {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
}

@media screen and (max-width: 400px) {
  .posted-by {
    display: none;
  }

  .subreddit-title {
    left: 0rem;
    font-size: 1.75rem;
    top: 11rem;
  }
}

@media screen and (max-width: 418px) {
  .post-stats {
    flex-direction: column;
  }

  .search-icon {
    left: 0.75rem;
    /* Purposeful offset to look good on mobile */
    top: 0.65rem;
  }
}

@media screen and (max-width: 375px) {
  :root {
    font-size: 13px;
  }

  .video,
  video,
  video-wrapper {
    height: 25rem !important;
  }
}

@media screen and (max-width: 340px) {
  :root {
    font-size: 12px;
  }
}
